

.header {
  background-color: #009b74;
  img {
    height: 54px;
    padding-left: 10px;
    padding-top: 3px;
  }
  .menu {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 12px;
  }
}