.container {
  display: flex;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 25px auto;
}

.car-filter {
  padding-left: 20px;
  margin: auto;
}

.compare-button {
  margin: auto;
}